<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        rim:header="RIM-Widget:rim/widget"
        version="1.0.2">
    
    <author>alottapps</author>
    <name>Randomizer</name>
    <description>
        Randomizing application that randomly selects a choice given by the user or 
        randomly re-orders the list. It can also generate a number with the specific 
        range of numbers.
    </description>
    
    <content src="index.html"/>
    <icon src="icon.png"/>
    <access uri="*" subdomains="true"/>
    
    <rim:category name="tools"/>
    <rim:orientation mode="portrait"/>
    
    <feature id="blackberry.app"/>
    <feature id="blackberry.invoke"/>
    <feature id="blackberry.invoke.BrowserArguments"/>
</widget>