#randomOrderButton .ui-icon {
    background: url(../css-framework/images/shuffle_icon_black.png) 50% 50% no-repeat;
    background-size: 20px 20px;  
}
#randomOrderButton.ui-btn-hover-a .ui-icon {
    background: url(../css-framework/images/shuffle_icon_white.png) 50% 50% no-repeat;
    background-size: 20px 20px; 
}
#randomChoiceButton .ui-icon {
    background: url(../css-framework/images/gear_icon_black.png) 50% 50% no-repeat;
    background-size: 20px 20px; 
}
#randomChoiceButton.ui-btn-hover-a .ui-icon {
    background: url(../css-framework/images/gear_icon_white.png) 50% 50% no-repeat;
    background-size: 20px 20px; 
}
#backResultButton .ui-icon, #backButton .ui-icon {
    background: url(../css-framework/images/arrowl_icon_black.png) 50% 50% no-repeat;
    background-size: 18px 14px;  
}
#backResultButton.ui-btn-hover-a .ui-icon, #backButton.ui-btn-hover-a .ui-icon {
    background: url(../css-framework/images/arrowl_icon_white.png) 50% 50% no-repeat;
    background-size: 18px 14px;  
}
#saveResultButton .ui-icon {
    background: url(../css-framework/images/star_icon_black.png) 50% 50% no-repeat;
    background-size: 18px 18px; 
}
#saveResultButton.ui-btn-hover-a .ui-icon {
    background: url(../css-framework/images/star_icon_white.png) 50% 50% no-repeat;
    background-size: 18px 18px; 
}
#deleteAllListButton .ui-icon {
    background: url(../css-framework/images/delete_icon_black.png) 50% 50% no-repeat;
    background-size: 16px 16px;
}
#deleteAllListButton.ui-btn-hover-a .ui-icon {
    background: url(../css-framework/images/delete_icon_white.png) 50% 50% no-repeat;
    background-size: 18px 18px; 
}